.container {
  max-width: 128rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
}

.content {
  display: flex;
}

.hotel-view {
  height: 80rem;
  background-color: #fff;
  flex: 1;
}
